
<%- include('./partials/header.ejs') %>
<div class="row align-items-center flex-md-row flex-column-reverse">
    <div class="col-md-6 main-page-desc ">
        <h2 id="main-page-text">
            we provide you with the world wide weather forecast.
            <br>
            <button id="redirect-forecast-btn" class="btn mt-5 px-4 py-2"><a href="/forecast">Get Forecast <i class="fa-solid fa-angle-right"></i></a></button>
        </h2>
    </div>
    <div class="col-md-6 main-page-carausol py-5">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2000">
                <img src="images/img-3.jpg" class="d-block w-75 mx-auto" alt="...">
                </div>
                <div class="carousel-item " data-bs-interval="2000">
                <img src="images/img-2.jpg" class="d-block w-75 mx-auto" alt="...">
                </div>
                <div class="carousel-item " data-bs-interval="2000">
                <img src="images/img-1.jpg" class="d-block w-75 mx-auto" alt="...">
                </div>
            </div>
            </div>
    </div>
</div>

<!-- cards -->
<div class="cards-main-container">
    <div class="helper">

        <% cardData.forEach((data) => { %>
            <div class="main-card ">
                <img src= <%= data.imgSrc %> alt= <%= data.imgAlt %> >
                <div class="card-inside" >
                    <div class="card-desc d-flex align-items-center">
                        <div>
                            <h5 class="card-text card-temp"> <%= data.temp %>&deg;C</h5>
                        </div>
                        <div>
                            <h5  class="card-text card-partition">|</h5>
                        </div>
                        <div>
                            <i class= "<%= data.icon %>"></i>
                            <h5 class="card-tittle"> <%= data.tittle %> </h5>
                        </div>
                    </div>
                    
                <h4 class="card-ltn"><i class="fa-solid fa-location-dot"></i> <%= data.ltn %> </h4>
                </div>
        
            </div>
        <% }) %>
        
    </div>   
</div>


<%- include('./partials/footer.ejs') %>

</body>
</html>

